@keyframes backgroundAnimation {
  0% {
    background-color: #0e0514;
  }
  50% {
    background-color: #06281b;
  }
  100% {
    background-color: #091825;
  }
}

body {
  animation: backgroundAnimation 20s infinite;
  color: #333;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.home-container {
  background: #0b1405;
  padding-bottom: 2rem;
  position: absolute;
  top: 9%;
  right: 0%;
}

.profile-section {
  margin-bottom: 2rem;
}

.profile-image {
  border-radius: 50%;
  border: 5px solid #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.profile-text {
  font-size: 1.2rem;
  font-weight: 500;
  color: #333;
  margin: 20px auto;
  max-width: 600px;
  line-height: 1.6;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.card {
  border-radius: 10px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
